@import '../../global.css';

.Portfolio {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Portfolio h1 {
  font-size: 50px;
}

.Portfolio ul {
  margin: 10px;
  padding: 0;
  list-style: none;
  display: flex;
}

.Portfolio .Container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Portfolio .Container .Item {
  width: 220px;
  height: 150px;
  border-radius: 20px;
  border: 1px solid lightgrey;
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
}

.Portfolio .Container .Item h3 {
  color: #fff;
  position: absolute;
  font-size: 20px;
}

.Portfolio .Container .Item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.Portfolio .Container .Item.Item:hover {
  background-color: var(--main-color);
}

.Portfolio .Container .Item.Item:hover img {
  opacity: 0.2;
  z-index: 0;
}

@media (max-width: 768px) {
  .Portfolio h1 {
    font-size: 20px;
  }
  .Portfolio ul {
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0px;
  }
  .Portfolio .Container {
    width: 100%;
  }
  .Portfolio .Container .Item {
    width: 130px;
    height: 100px;
  }
}
