@import '../../global.css';

.Portfolio ul li {
  font-size: 14px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
}

.Portfolio ul li.Active {
  background-color: var(--main-color);
  color: #fff;
}

@media (max-width: 768px) {
  .Portfolio ul li {
    margin-right: 20px;
  }
}
