@import '../../global.css';

.Intro {
  background-color: #fff;
  display: flex;
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-animation 3s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.Intro .Left {
  flex: 0.5;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Intro .Left .ImgContainer {
  width: 600px;
  height: 600px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  float: left;
  position: relative;
  overflow: hidden;
}

.Intro .Left .ImgContainer img {
  height: 100%;
  position: absolute;
  bottom: -140px;
}

.Intro .Right {
  flex: 0.5;
  position: relative;
}

.Intro .Right .Wrapper {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Intro .Right .Wrapper .Box {
  font-size: 25px;
  margin: 10px 0px;
  background-color: #fff;
  width: 65%;
  text-align: center;
  padding: 15px 0px;
  border-radius: 45px;
}

.Intro .Right .Wrapper .Box h1 {
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: bg-animation 3s infinite alternate;
}

.Intro .Right .Wrapper h2 {
  font-size: 35px;
}

.Intro .Right .Wrapper h3 {
  font-size: 30px;
}

.Intro .Right .Wrapper h3 span {
  font-size: inherit;
}

.Intro .Right a {
  position: absolute;
  bottom: 10px;
  left: 40%;
}

.Intro .Right a img {
  width: 50px;
  animation: arrowBlink 2s infinite;
}

@keyframes arrowBlink {
  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .Intro {
    flex-direction: column;
    align-items: center;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 3s infinite alternate;
  }

  @keyframes bg-animation {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
  .Intro .Left .ImgContainer {
    align-items: flex-start;
  }
  .Intro .Left .ImgContainer img {
    height: 81%;
    bottom: 85%;
  }
  .Intro .Right .Wrapper {
    padding-left: 0;
    align-items: center;
  }
  .Intro .Right .Wrapper h1 {
    font-size: 40px;
  }
  .Intro .Right .Wrapper h3 {
    font-size: 20px;
  }
}
